body{
        background: url("bgletter.png");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        box-sizing: border-box;
    }
h2{
    color: #000;
    width: 100%;
    height: 550px;
    padding: 15px
}
